<div class="main-container">
  <div class="home-text">
    <h1>Welcome to MapIt!</h1>

    <br/>

    <h2>What is MapIt?</h2>
    <p>
      MapIt is a web application for running and analyzing processes with the help of Minimap2 tool.
      Minimap2 is a versatile sequence alignment program that aligns DNA or mRNA sequences against a large reference database.
      It can be used for running alignment and mapping processes. It offers lots of different arguments and presets which allows
      the user lots of different ways to customize their processes.
    </p>

    <br/>

    <h2>How to use MapIt</h2>
    <p>
      In top menu you can choose between starting an alignment process or mapping process. After selecting type of process you
      will be shown a form where you must upload reference and query files, set up values of parameters you wish to alternate and
      enter you email address where we will send you the analysis of the result.
    </p>
  </div>

  <div class="animation-container">
    <app-dna-animation numOfBalls="20"></app-dna-animation>
  </div>

</div>
