.align-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.align-container .mat-form-field {
  width: 220px;
}

.align-container {
  margin: 20px;
}

.align-param-container-field{
  display: flex;
  flex-direction: row;
}

.align-param-container-field label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  font-size: larger;
}

.align-container form {
  margin-bottom: 20px;
}

.align-container form > * {
  margin: 5px 0;
}

.mat-form-field {
  width: 100%;
}

.align-submit-button {
  width: 200px;
  height: 50px;
  font-size: larger;
}

mat-icon {
  width: 30px;
  height: 30px;
}

.file-input {
  display: none;
}


.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.choose-container {
  display: flex;
  flex-direction: column;
}

.ref-file-container {
  margin-bottom: 20px !important;
  font-size: large;
}

.query-file-container {
  margin-bottom: 20px !important;
  font-size: large;
}

.preset-container .mat-form-field {
  width: auto !important;
}

.preset-container .mat-select-value {
  max-width: 100%;
  width: auto;
}

#fileUploadContainer {
  width: 700px;
}

#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

#preset {
  width: 500px;
}

