.align-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.align-container .mat-form-field {
  width: 220px;
}

.align-container {
  margin: 20px;
  font-size: larger;

}

.align-param-container-field{
  display: flex;
  flex-direction: row;
}

.align-param-container-field label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  font-size: larger;
}

.align-container form {
  margin-bottom: 20px;
}

.align-container form > * {
  margin: 5px 0;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}

.mat-toolbar-single-row button {
  width: 200px;
}

.mat-form-field {
  width: 100%;
}

.align-submit-button {
  width: 200px;
}

.file-input {
  display: none;
}

.file-upload {
  margin: 100px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.choose-container {
  display: flex;
  flex-direction: column;
}
#fileUploadContainer {
  width: 700px;
}

#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

