p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.animation-container {
  margin-right: 150px;
}

.mapping-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mapping-container .mat-form-field {
  width: 220px;
}

.mapping-container {
  margin: 20px;
}

.mapping-container-field{
  display: flex;
  flex-direction: row;
}

.mapping-container-field label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  font-size: 1.3em;
}

.mapping-param-container-field{
  display: flex;
  flex-direction: row;
}

.mapping-param-container-field label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  font-size: 1.3em;
}

.mapping-container form {
  margin-bottom: 20px;
}

.mapping-container form > * {
  margin: 5px 0;
}

.mapping-container .mat-radio-button {
  margin: 0 12px;
}

.mapping-submit-button {
  width: 200px;
  height: 50px;
  font-size: larger;
}

.custom-parameters-container {
  margin-bottom: 30px;
}

.ref-file-container {
  margin-top: 33px !important;
  margin-bottom: 20px !important;
  font-size: 1.3em;
}

.query-file-container {
  margin-top: 33px !important;
  margin-bottom: 40px !important;
  font-size: 1.3em;
}


.preset-container .mat-form-field {
  width: auto !important;
}

.preset-container .mat-select-value {
  max-width: 100%;
  width: auto;
}

.file-input {
  display: none;
}

.file-upload button {
  margin-left: 15px;
}

#fileUploadContainer {
  width: 700px;
}

#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

#preset {
  width: 500px;
}
