<div class="main-container">
  <div class="mapping-container">
    <p>
      Here you can run mapping process with any parameters you want. <br/>
      Make sure that you enter your email first and that all values of parameters are in right format.
    </p>

    <form [formGroup]="mappingForm">

      <div class="mapping-param-container-field">
        <label>Enter you email: </label>
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="ref-file-container">
        <label>Please select your reference file:</label>
        <input type="file" class="file-input" (change)="onRefFileSelected($event)" #refFileUpload required>
        <div class="file-upload">
          {{refFileName || "No file uploaded yet."}}
          <button mat-mini-fab color="primary" class="upload-btn" (click)="refFileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
<!--        <mat-error *ngIf="referenceFile.value == null">{{getRefFileErrorMessage()}}</mat-error>-->
      </div>

      <div class="query-file-container">
        <label>Please select your query file(s):</label>
        <input type="file" class="file-input" (change)="onQueryFileSelected($event)" multiple #queryFileUpload required>
        <div class="file-upload">
          {{queryFileName || "No file uploaded yet."}}
          <button mat-mini-fab color="primary" class="upload-btn" (click)="queryFileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
<!--        <mat-error *ngIf="queryFiles.controls.length == 0">{{getQueryFilesErrorMessage()}}</mat-error>-->
      </div>

      <hr>
      <br>

      <div class="preset-container">
        <div class="mapping-param-container-field">
          <label>Choose preset: </label>
          <mat-form-field appearance="fill">
            <mat-select ngDefaultControl [formControl]="preset">
              <mat-option value=null>None</mat-option>
              <mat-option value="ava-pb">Pac-Bio read overlap</mat-option>
              <mat-option value="ava-ont">Nanopore read overlap</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="custom-parameters-container">
        <div class="mapping-container-field">
          <label>Filter out top FLOAT fraction of repetitive minimizers:</label>
          <mat-form-field appearance="fill" ngDefaultControl [formControl]="repMin">
            <mat-label>Default: 0.0002</mat-label>
            <input matInput type="number" placeholder="Format: NUM">
          </mat-form-field>
        </div>

        <div class="mapping-container-field">
          <label>Stop chain enlongation if there are no minimizers in INT-bp: </label>
          <mat-form-field appearance="fill" ngDefaultControl [formControl]="stopChain">
            <mat-label>Default: 5000</mat-label>
            <input matInput type="number" placeholder="Format: NUM">
          </mat-form-field>
        </div>

        <div class="mapping-container-field">
          <label>Max intron length: </label>
          <mat-form-field appearance="fill" ngDefaultControl [formControl]="maxIntron">
            <mat-label>Default: 200k</mat-label>
            <input matInput placeholder="Format: NUM">
          </mat-form-field>
        </div>

        <div class="mapping-container-field">
          <label>Max fragment length: </label>
          <mat-form-field appearance="fill" ngDefaultControl [formControl]="maxFrag">
            <mat-label>Default: 800</mat-label>
            <input matInput type="number" placeholder="Format: NUM">
          </mat-form-field>
        </div>

        <div class="mapping-container-field">
          <label>Chaining/alignment bandwidth and long-join bandwidth: </label>
          <mat-form-field appearance="fill" ngDefaultControl [formControl]="bandwidths">
            <mat-label>Default: [500,20000]</mat-label>
            <input matInput placeholder="Format: NUM,NUM">
          </mat-form-field>
        </div>

        <div class="mapping-container-field">
          <label>Minimal number of minimizers on a chain: </label>
          <mat-form-field appearance="fill" ngDefaultControl [formControl]="minNumMin">
            <mat-label>Default: 3</mat-label>
            <input matInput type="number" placeholder="Format: NUM">
          </mat-form-field>
        </div>

        <div class="mapping-container-field">
          <label>Minimal chaining score (matching bases minus log gap penalty): </label>
          <mat-form-field appearance="fill" ngDefaultControl [formControl]="minChainScore">
            <mat-label>Default: 40</mat-label>
            <input matInput type="number" placeholder="Format: NUM">
          </mat-form-field>
        </div>

        <div class="mapping-container-field">
          <label>Min secondary-to-primary score ratio: </label>
          <mat-form-field appearance="fill" ngDefaultControl [formControl]="minSecondToPrim">
            <mat-label>Default: 0.8</mat-label>
            <input matInput type="number" placeholder="Format: NUM">
          </mat-form-field>
        </div>

        <div class="mapping-container-field">
          <label>Retain at most INT secondary alignments: </label>
          <mat-form-field appearance="fill" ngDefaultControl [formControl]="atMostSecond">
            <mat-label>Default: 5</mat-label>
            <input matInput type="number" placeholder="Format: NUM">
          </mat-form-field>
        </div>

        <div class="mapping-container-field">
          <mat-checkbox ngDefaultControl [formControl]="skipSelfAndDual">Skip self and dual mappings (for the all-vs-all mode)</mat-checkbox>
        </div>
      </div>

      <div class="send-button-container">
        <button mat-flat-button class="mapping-submit-button" type="submit" color="primary" (click)="submitMappingForm()">Send</button>
      </div>
    </form>
  </div>

  <div class="animation-container">
    <app-dna-animation numOfBalls="46"></app-dna-animation>
  </div>

</div>
